# Server
# --- Application Config ---
APP_ENV=development
APP_TIMEZONE=Asia/Jakarta
APP_PORT=8000
APP_HOST=0.0.0.0

# Database
# --- PostgreSQL Credentials ---
DB_HOST=
DB_PORT=
DB_NAME=
DB_USER=
DB_PASS=
DB_SSL_MODE=disable
DB_TIMEZONE=Asia/Jakarta

# Paseto
TOKEN_ISSUER="srikandi-sehat-api"
TOKEN_ACCESS_DURATION="15m"
TOKEN_REFRESH_DURATION="720h"
# Must be 32 bytes (e.g., "a_very_secure_32_byte_secret_key")
TOKEN_SYMMETRIC_KEY=

# --- Mail Service ---
# Driver: "mailgun" (untuk produksi) or "smtp" (untuk dev/mailpit)
MAIL_DRIVER=smtp
MAIL_HOST=localhost
MAIL_PORT=1025
MAIL_FROM_ADDRESS="no-reply@srikandi-sehat.com"
MAIL_FROM_NAME="Srikandi Sehat"

# --- Mailgun (hanya untuk produksi) ---
MAILGUN_DOMAIN=
MAILGUN_API_KEY=
